<!--
* AUTHORS: Everett, Pedro, Nathan
-->
<include href="views/header.html"></include>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <!--Add company Logo Later -->
            <a class="navbar-brand" href="#">
                <img src="images/LogoPng.png" width="30" height="30" class="d-inline-block align-top" alt="Company Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link navText" href="{{ @BASE }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navText" href="ourDogs">Our Dogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link float-end" href="login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="admin">Admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Company Header-->
    <div class="col-12 centerContent">
        <img src="images/LogoPng.png" height="200px" width="200px" alt="Company Logo">
        <h1>ADMIN PAGE</h1>
    </div>

    <!-- Start of page after navbar -->

    <!-- Horizontal line -->
    <hr class="divider">

    <div class="container">
        <div class="row">
            <div class="col-md-6 aboutUs">
                <div class="centerContent">
                    <h3>Dog DataBase</h3>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Breed</th>
                            <th>Personality</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>Price</th>
                        </tr>
                        <repeat group="{{ @dogDataBase }}" value="{{ @dogDataBaseValue }}">
                            <tr>
                                <td>{{ @dogDataBaseValue->getName() }}</td>
                                <td>{{ @dogDataBaseValue->getBreed() }}</td>
                                <td>{{ implode(", ", @dogDataBaseValue->getPersonality()) }}</td>
                                <td>{{ @dogDataBaseValue->getGender() }}</td>
                                <td>{{ @dogDataBaseValue->getAge() }}</td>
                                <td>{{ @dogDataBaseValue->getPrice() }}</td>
                            </tr>
                        </repeat>
                    </table>
                </div>
                <div class="row">
                    <div class="centerContent">

                    </div>
                </div>
            </div>
            <div class="col-md-6 vertical-divider">
                <!-- Add dog to our data base -->
                <form method="POST" action="#">
                    <div class="form-group">
                        <label for="dogName">Dogs Name:</label>
                        <input type="text" class="form-control" id="dogName" name="dogName">
                    </div>
                    <div class="form-group">
                        <label for="dogBreed">Breed</label>
                        <select name="dogBreed" id="dogBreed">
                            <repeat group="{{ @breed }}" value="{{ @breedValue }}">
                               <option value="{{ @breedValue }}"> {{ ucfirst(@breedValue) }} </option>
                            </repeat>
                        </select>
                        <label>Personality</label>
                        <select name="dogPersonality" id="dogPersonality">
                            <repeat group="{{ @personality }}" value="{{ @personalityValue }}">
                                <option value="{{ @personalityValue }}"> {{ ucfirst(@personalityValue) }}</option>
                            </repeat>
                        </select>
                        <label for="dogGender">Gender</label>
                        <select name="dogGender" id="dogGender">
                            <option value="Female">Female</option>
                            <option value="Male">Male</option>
                        </select>
                        <label for="dogAge">Age</label>
                        <select name="dogAge" id="dogAge">
                            <repeat group="{{ @age }}" value="{{ @ageValue }}">
                                <option value="{{ @ageValue }}"> {{ ucfirst(@ageValue) }} </option>
                            </repeat>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dogProfile"></label>
                        <input class="dogProfile" type="file" name="dogProfile" id="dogProfile" value="dogProfile" />
                    </div>
                    <div class="centerContent">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <p class="centerContent">Be sure to see that all data is correct before submitting</a></p>
                </form>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

</body>
</html>