<!--
* AUTHORS: Everett, Pedro, Nathan
* FILE: admin.html
* PURPOSE: This page is for administrators to manage the dog database.
* It includes a navbar for navigation, a header, and forms for adding new dogs to the database.
-->
<include href="views/header.html"></include>
<body>

<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <!--Add company Logo Later -->
            <a class="navbar-brand" href="#">
                <img src="images/LogoPng.png" width="30" height="30" class="d-inline-block align-top" alt="Company Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link navText" href="{{ @BASE }}"><b>Home</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navText" href="ourDogs"><b>Our Dogs</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link float-end" href="login"><b>Login</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="admin"><b>Admin</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Company Header-->
    <div class="col-12 centerContent">
        <img src="images/LogoPng.png" class="logo-image" alt="Company Logo">
        <h1>ADMIN PAGE</h1>
        <div class="button-group">
            <button id="dogsBtn" onclick="showSection('dogs')">List of Dogs</button>
            <button id="appointmentsBtn" onclick="showSection('appointments')">List of Appointments</button>
            <button id="usersBtn" onclick="showSection('users')">List of Users</button>
        </div>
    </div>

    <!-- Horizontal line -->
    <hr class="divider">

    <div class="container">
        <div class="row">
            <div id="contentSection" class="col-md-7 dogDB">
                <div class="row">
                    <div class="centerContent">

                        <div id="dogsSection" class="section">
                        <h3>Dog DataBase</h3>
                            <table class="table table-striped">
                                <tr>
                                    <th>Pet ID</th>
                                    <th>Name</th>
                                    <th>Breed</th>
                                    <th>Personality</th>
                                    <th>Gender</th>
                                    <th>Age</th>
                                    <th>Price</th>
                                </tr>
                                <repeat group="{{ @dbDogs }}" value="{{ @dog }}">
                                    <tr>
                                        <td>{{ @dog['PetID'] }}</td>
                                        <td>{{ @dog['Name'] }}</td>
                                        <td>{{ @dog['Breed'] }}</td>
                                        <td>{{ @dog['Personality'] }}</td>
                                        <td>{{ @dog['Gender'] }}</td>
                                        <td>{{ @dog['Age'] }}</td>
                                        <td>{{ @dog['Price'] }}</td>
                                    </tr>
                                </repeat>
                            </table>
                        </div>

                        <div id="appointmentsSection" class="section hidden-section">
                            <h3>Appointment DataBase</h3>
                            <table class="table table-striped">
                                <tr>
                                    <th>Appointment ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Date</th>
                                    <th>Dog ID</th>
                                    <th>Dog Name</th>
                                </tr>
                                <repeat group="{{ @dbAppointment }}" value="{{ @appointment }}">
                                    <tr>
                                        <td>{{ @appointment['AppointmentID'] }}</td>
                                        <td>{{ @appointment['Name'] }}</td>
                                        <td>{{ @appointment['Email'] }}</td>
                                        <td>{{ @appointment['PhoneNumber'] }}</td>
                                        <td>{{ @appointment['Date'] }}</td>
                                        <td>{{ @appointment['PetID'] }}</td>
                                        <td>{{ @appointment['PetName'] }}</td>
                                    </tr>
                                </repeat>
                            </table>
                        </div>

                        <div id="usersSection" class="section hidden-section">
                            <h3>User DataBase</h3>
                            <table class="table table-striped">
                                <tr>
                                    <th>ID</th>
                                    <th>UserName</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Is Admin</th>
                                    <th>Make Admin</th>
                                </tr>
                                <repeat group="{{ @dbUsers }}" value="{{ @user }}">
                                    <tr>
                                        <td>{{ @user['ID'] }}</td>
                                        <td>{{ @user['UserName'] }}</td>
                                        <td>{{ @user['Email'] }}</td>
                                        <td>{{ @user['PhoneNumber'] }}</td>
                                        <td>{{ @user['Admin'] }}</td>
                                        <td></td>
                                    </tr>
                                </repeat>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div id="dogFormSection" class="col-md-5 vertical-divider" >
                <!--Dog Form-->
                <form id="dogForm" method="POST" action="#" enctype="multipart/form-data">
                    <h3>New Dog Listing Form</h3>
                    <div class="form-group">
                        <label for="dogName">Dogs Name:</label>
                        <input type="text" class="form-control" id="dogName" name="dogName">
                    </div>
                    <div class="form-group">
                        <label for="dogBreed">Breed:</label>
                        <select name="dogBreed" id="dogBreed">
                            <repeat group="{{ @breed }}" value="{{ @breedValue }}">
                                <option value="{{ @breedValue }}"> {{ ucfirst(@breedValue) }} </option>
                            </repeat>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Personality:</label>
                        <select name="dogPersonality" id="dogPersonality">
                            <repeat group="{{ @personality }}" value="{{ @personalityValue }}">
                                <option value="{{ @personalityValue }}"> {{ ucfirst(@personalityValue) }}</option>
                            </repeat>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dogGender">Gender</label>
                        <select name="dogGender" id="dogGender">
                            <option value="Female">Female</option>
                            <option value="Male">Male</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dogAge">Age in Human Years</label>
                        <select name="dogAge" id="dogAge">
                            <repeat group="{{ @age }}" value="{{ @ageValue }}">
                                <option value="{{ @ageValue }}"> {{ ucfirst(@ageValue) }} </option>
                            </repeat>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dogName">Price $USD:</label>
                        <input type="text" class="form-control" id="dogPrice" name="dogPrice">
                    </div>
                    <div class="form-group">
                        <label for="dogProfile">Upload Dog Picture:</label>
                        <input class="dogProfile" type="file" name="dogProfile" id="dogProfile" accept="image/png, image/gif, image/jpeg">
                    </div>
                    <div class="form-group">
                        <img id="imagePreview" src="#" alt="Image Preview" style="display: none; width: 100%; max-width: 200px; margin-top: 10px;">
                    </div>
                    <div class="centerContent mt-5">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="content mt-5">
                        <p class="centerContent">Be sure to see that all data is correct before submitting!</p>
                    </div>
                </form>
                <div id="thankYouMessageAdmin" class="thank-you-message" style="display:none;">
                    <h2>Thank you for submitting!</h2>
                    <p>The dog information has been successfully added.</p>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="JS/tableDisplay.js"></script>
</body>
</html>