<!--
* AUTHORS: Everett, Pedro, Nathan
-->
<include href="views/header.html"></include>
<head>
    <script src="hoverDiv.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="images/LogoPng.png" width="30" height="30" class="d-inline-block align-top" alt="Company Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ @BASE }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="ourDogs">Our Dogs</a> <!-- May not want to href to html -->
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link" href="#">Schedule Appointment</a>
                    </li>-->
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-2 filterNav">
            <h1>Filter Bar here</h1>
            <form method="POST" action="#">
                <div class="row">
                    <label for="breed1"><input type="checkbox" id="breed1" value="breed1"> Breed 1</label>
                </div>
                <div class="row">

                    <label for="breed2"><input type="checkbox" id="breed2" value="breed1"> Breed 2</label>
                </div>
                <div class="row">

                    <label for="breed3"><input type="checkbox" id="breed3" value="breed3"> Breed 3</label>
                </div>
                <p>We will use datalayer and center align text so it is next to checkbox</p>
            </form>
        </div>
            <!-- Dog card section -->
            <div class="col-10"> <!-- other side of filter-->
                <ul id="dogCards">
                    <div class="row mt-3"> <!-- row inside other side of filter -->
                        <div class="col-md-4 mb-4"> <!-- card itself-->
                            <div class="hover-div">
                                <img src="./images/fluffyDog.png" class="card-img-top" alt="Dog Image 1">
                                <div class="card-body">
                                    <h5 class="card-name">Dog Name</h5>
                                    <p class="card-breed">Breed: Breed Name</p>
                                    <p class="card-personality">Personality: Friendly</p>
                                    <p class="card-age">Age: 2 years</p>
                                    <p class="card-price">Price: $200</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mb-4"> <!-- card itself-->
                            <div class="hover-div">
                                <img src="./images/weena.png" class="card-img-top" alt="Dog Image 1">
                                <div class="card-body">
                                    <h5 class="card-name">Dog Name</h5>
                                    <p class="card-breed">Breed: Breed Name</p>
                                    <p class="card-personality">Personality: Friendly</p>
                                    <p class="card-age">Age: 2 years</p>
                                    <p class="card-price">Price: $200</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mb-4"> <!-- card itself-->
                            <div class="hover-div">
                                <img src="./images/weena.png" class="card-img-top" alt="Dog Image 1">
                                <div class="card-body">
                                    <h5 class="card-name">Dog Name</h5>
                                    <p class="card-breed">Breed: Breed Name</p>
                                    <p class="card-personality">Personality: Friendly</p>
                                    <p class="card-age">Age: 2 years</p>
                                    <p class="card-price">Price: $200</p>
                                </div>
                            </div>
                        </div>


                    </div> <!-- row inside other side of filter -->


                </ul>

            </div> <!-- other side of filter col-10 -->
    </div>
</div>
</body>
</html>