<include href="views/header.html"></include>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <!--Add company Logo Later -->
                <a class="navbar-brand" href="#">
                    <img src="" width="30" height="30" class="d-inline-block align-top" alt="Company Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ @BASE }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="ourDogs">Our Dogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="schedule">Schedule Appointment</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="scheduleConfirm">
        <h3>Please enter your name:</h3>
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname">
    </div>

</body>
</html>