<!--
* AUTHORS: Everett, Pedro, Nathan
* FILE: schedule.html
* PURPOSE: This page allows users to schedule an appointment with a specific dog.
* It includes a form for entering appointment details and displays information about the selected dog.
-->
<include href="views/header.html"></include>

<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <!--Add company Logo Later -->
            <a class="navbar-brand" href="#">
                <img src="images/LogoPng.png" width="30" height="30" class="d-inline-block align-top" alt="Company Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link navText" href="{{ @BASE }}"><b>Home</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navText active" href="ourDogs"><b>Our Dogs</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navText" href="login"><b>Login</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-6 dogInformation">
                <img class="dog-image" src="{{ @scheduleDog->getImage() }}" alt="image of {{ @scheduleDog->getName() }}">
                <h2>Schedule an appointment with {{ @scheduleDog->getName() }}!</h2>
                <p class="card-breed">Breed: {{ @scheduleDog->getBreed() }}</p>
                <p class="card-personality">Personality: {{ @scheduleDog->getPersonality() }}</p>
                <p class="card-gender">Gender: {{ @scheduleDog->getGender() }}</p>
                <p class="card-age">Age: {{ @scheduleDog->getAge() }}</p>
                <p class="card-price">Price: {{ @scheduleDog->getPrice() }}</p>
            </div>

            <div class="col-md-6 vertical-divider">
                <div id="formContainer">
                    <div class="row justify-content-center">
                        <div class="col-md-6 scheduleConfirmation">
                            <h2>Schedule Appointment</h2>
                            <form id="appointmentForm" method="POST" action="#">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="text" class="form-control" id="name" name="name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email">
                                </div>
                                <div class="form-group">
                                    <label for="phoneNum">Phone Number:</label>
                                    <input type="text" class="form-control" id="phoneNum" name="phoneNum">
                                </div>
                                <div class="form-group">
                                    <label for="date">Date:</label>
                                    <input type="date" class="form-control" id="date" name="date">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="thankYouMessage" class="thank-you-message mt-5" style="display:none;">
                    <h2>Thank you for scheduling!</h2>
                    <p>Your appointment with {{ @scheduleDog->getName() }} has been successfully scheduled.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
