.filterNav
{
    border-right: 2px solid black;
}

.carousel-item
{
    /*display: block;*/
    float: left;
    width: 100%;
    height: 600px;
    margin-right: -100%;
    display: none; /*Hide all items initially */


}
.carousel-item.active
{
    display: block;
}
.divider
{
    border-bottom: 2px solid black;
}