.filterNav
{
    border-right: 2px solid black;
<<<<<<< HEAD
<<<<<<< HEAD
}

/*
.carousel-item
{
    display: block;
    float: left;
    width: 100%;
    height: 600px;
    margin-right: -100%;
    display: none; Hide all items initially

}
 */

.divider
{
    border-bottom: 2px solid black;
}

.scheduleConfirm
{
    .center {
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
    }
}