.filterNav
{
    border-right: 2px solid black;
<<<<<<< HEAD
<<<<<<< HEAD
}

/*
.carousel-item
{
    display: block;
    float: left;
    width: 100%;
    height: 600px;
    margin-right: -100%;
    display: none; Hide all items initially

}
 */

.divider
{
    border-bottom: 2px solid black;
}

<<<<<<< HEAD
.scheduleConfirm
{
    .center {
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
    }
}
=======
/*NTR 5/9 for dogCards*/
.hover-div {
    padding: 20px 20px;
    text-align: center;
    min-height: 350px;
}

.hover-div {
    border-top: 1px solid #f8f8f8;
    background: #f8f8f8;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 10px 0px;
}

.hover-div:hover {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
    box-shadow: 0 22px 43px rgba(0, 0, 0, 0.32);
    cursor: pointer;
    border-radius: 5px;
}

>>>>>>> 523b74a16c7e2684776b3dec1b727d2122bbe0d1
